<%- include('./partials/head') %>

<body class="index">

    <h1>GitTournaments</h1>
    <main>
        <ul>
            <li>
                <% data.sort((a, b) => (a.node.defaultBranchRef.target.history.totalCount < b.node.defaultBranchRef.target.history.totalCount) ? 1 : -1)  %>
                <a href="commits">
                    <h2>Commits</h2>
                    <div>
                        <img src="img/trophy.svg" alt="Trophy">
                        <p><%= data[0].node.owner.login %></p>
                        <p><%= data[0].node.defaultBranchRef.target.history.totalCount %></p>
                    </div>
                </a>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li>
                <% data.sort((a, b) => (a.node.owner.repositories.totalCount < b.node.owner.repositories.totalCount) ? 1 : -1)  %>
                <a href="repos">
                    <h2>Repo's</h2>
                    <div>
                        <img src="img/trophy.svg" alt="Trophy">
                        <p><%= data[0].node.owner.login %></p>
                        <p><%= data[0].node.owner.repositories.totalCount %></p>
                    </div>
                </a>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li>
                <% data.sort((a, b) => (a.node.owner.starredRepositories.totalCount < b.node.owner.starredRepositories.totalCount) ? 1 : -1)  %>
                <a href="stars">
                    <h2>Stars</h2>
                    <div>
                        <img src="img/trophy.svg" alt="Trophy">
                        <p><%= data[0].node.owner.login %></p>
                        <p><%= data[0].node.owner.starredRepositories.totalCount %></p>
                    </div>
                </a>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li>
                <% data.sort((a, b) => (a.node.owner.followers.totalCount < b.node.owner.followers.totalCount) ? 1 : -1)  %>
                <a href="followers">
                    <h2>Followers</h2>
                    <div>
                        <img src="img/trophy.svg" alt="Trophy">
                        <p><%= data[0].node.owner.login %></p>
                        <p><%= data[0].node.owner.followers.totalCount %></p>
                    </div>
                </a>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </main>
    <div class="line1">
        <svg width="100%" height="1059" viewBox="0 0 1729 1059" fill="none" class="shadow"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1729 5H1344V1053.5H557.5V775H0.5" stroke="#03a9f4" stroke-width="10" />
        </svg>
        <svg class="shadow" width="100%" height="507" viewBox="0 0 1747 507" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.5 176H413.5L655.5 5H894L1115 396.5H1510M1510 396.5C1510 341 1540.5 284.687 1627 280C1704 275.828 1742 338.5 1742 396.5C1742 441.5 1717 502 1627 502C1561.77 502 1514 452.5 1510 396.5Z"
                stroke="#03a9f4" stroke-width="10" />
        </svg>
    </div>
    <div class="line2">
        <svg class="shadow" width="80%" viewBox="0 0 1815 592" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 5.5H328L377.5 325H783V206H1131V587H1815" stroke="#800080" stroke-width="10" />
        </svg>
        <svg class="shadow" width="80%" viewBox="0 0 1132 916" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1132 5.5H677V808C677 808 399.993 808 222.5 808M222.5 808C219.5 729 165.5 697 108 697C46.3157 697 5.00006 743.5 5 808C4.99995 862.262 54.5 911 113 911C171.5 911 222.5 868.5 222.5 808Z"
                stroke="#800080" stroke-width="10" />
        </svg>
    </div>

    <%- include('./partials/foot') %>